extends partial/layout.pug

block site_title
    != 'tag-' + page.tag + ' | ' + config.title

block container
    include mixins/post.pug
    +one_tag()


block pagination
    include mixins/paginator.pug
        +home()

block copyright
    include partial/copyright.pug